.container-13 {
  border-radius: 10px;
  background: #104E8C;
  position: absolute;
  padding: 12px 7px 11px 7px;
  top: 46px;
  left: 9px;
  width: 764px;
  height: 352px;
  box-sizing: border-box;
}

.start-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.start-screen .city {
  margin-bottom: 32px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}

.start-screen .temperature {
  position: absolute;
  top: 15px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.start-screen .rectangle-left-top {
  border-radius: 10px;
  background: #666666;
  margin-bottom: 7px;
  align-self: flex-start;
  width: 183px;
  height: 2px;
}

.start-screen .st-forecast {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}

.start-screen .rain-probability {
  margin-bottom: 45px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10px;
  color: #666666;
}

.start-screen .temperature-location {
  position: absolute;
  top: 149px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.start-screen .location {
  margin-bottom: 300px;
  position: absolute;
  top: 130px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
}

.start-screen .left-box {
  position: relative;
  top: 33px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 324.9px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 14px;
}

.start-screen .sunrise {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.start-screen .sunrise-icon {
  margin-right: 5.3px;
  display: flex;
  width: 19.5px;
  height: 19.5px;
  box-sizing: border-box;
}

.start-screen .vector-12 {
  width: 19.5px;
  height: 19.5px;
}

.start-screen .am {
  margin: 9.8px 0 1.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 7px;
  color: #646464;
}

.start-screen .sundown {
  margin: 0.8px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}


.start-screen .sundown-icon {
  margin-right: 5px;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.start-screen .vector-13 {
  width: 18px;
  height: 18px;
}

.start-screen .pm {
  margin: 9px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 7px;
  color: #646464;
}

.start-screen .bow {
    position: absolute;
    left: 181.3px;
    top: 176.7px;
    width: 87.7px;
    height: 51.3px;
}

.start-screen .left-down-corner {
  position: relative;
  bottom: 10px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.start-screen .left-down-corner .left {
  margin: 1.4px 54.3px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.start-screen .left-down-corner .right {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.start-screen .left-down-corner .left .rectangle-21 {
  border-radius: 10px;
  background: #666666;
  margin: 0 4.8px 26.8px 0;
  width: 128px;
  height: 2px;
}

.start-screen .left-down-corner .left .rectangle-22 {
  border-radius: 10px;
  background: #666666;
  margin: 0 4.8px 24.3px 0;
  width: 128px;
  height: 2px;
}

.start-screen .left-down-corner .left .rectangle-23 {
  border-radius: 10px;
  background: #666666;
  margin-right: 3.8px;
  width: 129px;
  height: 2px;
}

.start-screen .left-down-corner .right .rectangle-24 {
  border-radius: 10px;
  background: #666666;
  margin-bottom: 25.2px;
  width: 129px;
  height: 2px;
}

.start-screen .left-down-corner .right .rectangle-25 {
    border-radius: 10px;
    background: #666666;
    margin-bottom: 27px;
    width: 129px;
    height: 2px;
}

.start-screen .left-down-corner .right .rectangle-26 {
  border-radius: 10px;
  background: #666666;
  width: 129px;
  height: 2px;;
}











.start-screen .biclouds {
  position: absolute;
  top: 10px;
  left: 475px;
  display: flex;
  width: 326px;
  height: 208.5px;
  box-sizing: border-box;
}

.start-screen .group1 {
    width: 240px;
    height: 180px;
}

.start-screen .todays-forecast {
  position: relative;
  bottom: 160px;
  margin: 0 78.1px 0.6px 78.1px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}


.start-screen .right-down-corner {
  position: relative;
  left: 455px;
  bottom: 170px;
  margin-top: 10.4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.start-screen .morning-container {
  margin: 2px 1.8px 24.6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.start-screen .morning-headline {
  margin: 0 0 12.9px 15.6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}

.start-screen .morning-image {
  margin-left: 20px;
  display: flex;
  width: 59.6px;
  height: 57.5px;
  box-sizing: border-box;
}

.start-screen .vector-18 {
  width: 40px;
  height: 40px;
}

.start-screen .rectangle-27 {
  border-radius: 10px;
  background: #666666;
  margin-right: 11px;
  width: 2px;
  height: 100px;
}
